body {
  margin: 70px;
}

div {
  background-color: #DBDBDB;
  border: 1px solid #474747;
  margin: 12px;

}

h1 {
  margin: 10px;
  padding-bottom: 30px;
  font-family: sans-serif;
  font-size: 24px;
}

#left {
  display: inline-block;
  width: 600px;
  height: 400px;
}

#right {
  display: inline-block;
  width: 300px;
  height: 400px;
}

.horizontal {
  width: 930px; 
  height: 150px;
}