body {
  border: 20px;
}

div {
  background-color: #DBDBDB;
  border: 1px solid #474747;
  margin: 10px;

}

h1 {
  margin: 10px;
  padding-bottom: 20px;
  font-family: Arial;
  font-size: 30px;
}

#left {
  display: inline-block;
  width: 600px;
  height: 400px;
}

#right {
  display: inline-block;
  width: 300px;
  height: 400px;
}

.horizontal {
  width: 925px; 
  height: 200px;
}