h1 {

}
header {
}

span {
  display: inline-block;
  width: 50px;
}

p {
  text-align: justify;
  padding: 20px 1000px 20px 1000px;

}

a {

}

section {

}

footer {

}

div.contain {

}

div.logo_flag {
  display: inline-block;
  font-size: 40px;

}

div.hero {
  max-height: 70px;
  
}

div.content {

}

div.about {


}

div.contact {

}




